{{>navigation}}
<div id="mis">{{tag}}</div>
<article class='col-12 col-md-6 m-3'>
   <figure class='image-container'>
    {{#each posts as |post|}}
          <img id='chosen-image' id="pProductImage" src="/images/{{post.image_name}}" >
          <figcaption id='file-name'></figcaption>
        </figure>
    {{/each }}
  <form id='edit-product'>
    {{#each posts as |post|}}    
    <div class='form-group'>      
      <label class='font-weight-bold'>Product Name</label>
      <input
        type='text'
        class='form-control'
        id='pName'
        placeholder='Enter Product Name'
        value="{{post.product_name}}"
        data-id="{{id}}"
        required
      /> 
    </div>
    <div class='form-group'>
      <label class='font-weight-bold'>Product Price</label>
      <input
        type='text'
        class='form-control'
        id='pPrice'
        placeholder='Enter Product Price'
        value="{{post.price}}"
        required
      />
    </div>
    <div class='form-group'>
      <label class='font-weight-bold'>Desired Price</label>
      <input
        type='text'
        class='form-control'
        id='pDesiredPrice'
        placeholder='Enter Product Desired Price'
        value="{{post.desired_price}}"
        required
      />
    </div>
    <div class='form-group'>
      <label class='font-weight-bold'>Quantity</label>
      <input
        type='text'
        class='form-control'
        id='pQuantity'        
        placeholder='Enter Quantity default is 1'
        value="{{post.quantity}}"
        required
      />
    </div>
    <div class='form-group'>
      <label class='font-weight-bold'>Product Note</label>
      <input
        rows='4'
        cols='50'
        type='textarea'
        class='form-control'
        id='pProductNote'
        placeholder='Enter Product Note'
        value="{{post.product_note}}"
        required
      />
    </div>
    <div class='form-group'>
      <label class='font-weight-bold'>Product Image</label>
      <input
        type='file'
        class=''
        id='pProductImage'
        placeholder='Enter Product Note'
        src="{{post.image_name}}"
      />
    </div>
    <div class='form-group form-check'>
      <label for='drop-down' class='font-weight-bold'>Select Category:</label>
      <select name='drop-down' data-val ={{post.category.category_name}} id='pCategory'>       
      </select>
    </div>
    <div class='form-group form-check'>
      <label for='drop-down' class='font-weight-bold'>Select Priority:</label>
      <select name='drop-down' id='pPriority'   required>
        <option value='' selected disabled hidden>Select Priority</option>       
        <option class='dropdown-item' value='low' data-id='1'>Low</option>
        <option class='dropdown-item' value='medium' data-id='2'>Medium</option>
        <option class='dropdown-item' value='high' data-id='3'>High</option>      
      </select>
    </div>
  {{/each}}
    <button type='submit' class='btn btn-primary'>Submit</button>
  </form>
  <script src="/javascript/edit-products.js"></script>
  <script src="/javascript/add-post.js"></script>
</article>